{% extends "index.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Fila dentro de la tarjeta -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center mb-4">
                                    <h1 class="h4 text-gray-900">Crear una cuenta</h1>
                                </div>

                                <!-- Formulario de registro Django -->
                                <form method="post" class="user">
                                    {% csrf_token %} {% for field in form %}
                                    <div class="form-group">
                                        {{ field.label_tag }} {{ field }} {% if field.errors %}
                                        <div class="text-danger small">{{ field.errors|striptags }}</div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}

                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Registrar cuenta
                                    </button>
                                </form>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{% url 'login' %}">¿Ya tienes cuenta? Inicia sesión</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}